<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "RestServiceTestSuite">
    <listeners>
        <listener class-name="test.SuiteListener"/>
    </listeners>
    <test name = "restServiceTest">
        <classes>
            <class name = "test.ServiceTest" />
            <class name = "test.FilterBooksTest" />
        </classes>
    </test>
</suite>